/* add your styling here */


body {

    text-align: center;
    font-family: 'Lora', serif;

}

h1 {
    color: black;
    margin-left: 20px;
    font-family: 'Tangerine', serif;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 50px;
}

h2 {
    color:navy;
    margin-left: 20px;
    font-size: 30px;
    font-family: 'Crimson Text', serif;
}
ul {
list-style-type: none;
}
   
img {
    margin-top: 1em;
    
}